notes.txt

RedditMassScraper.spec


# Python
__pycache__/
*.py[cod]
*.pyd
*.so
*.dylib


# Virtual envs
venv/
.venv/
env/
.env/
.env*/

# Build artifacts
dist/
build/
*.spec

# OS / Editors
.DS_Store
Thumbs.db
.idea/
.vscode/

# Logs
*.log

# Binaries (we publish exe via Releases, not the repo)
*.exe

# Node/pico-main extras (ignore non-CSS)
pico-main/.github/
pico-main/.prettierrc
pico-main/LICENSE.md
pico-main/README.md
pico-main/composer.json
pico-main/package.json
pico-main/yarn.lock
pico-main/scripts/
pico-main/scss/